// primitives
$color-brand-primary: #006400;
$black: #333;
$white: #fff;

// ui
$brand-primary-background: $color-brand-primary;
$brand-inverse-background: $white;

// spacing
$layout-spacing-xs: .5rem;
$layout-spacing-sm: 1rem;
$layout-spacing-md: 1.5rem;
$layout-spacing-lg: 2rem;

// borders
$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-md: 6px;
$border-type: 'solid';
$border-width: 1px;
$border-color: $black;

// typography
$font-family-fallback: unquote('-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif');
$font-family-headings: quote('Quicksand'), $font-family-fallback;
$font-family-body: quote('Kanit'), $font-family-fallback;
$body-copy-color: $black;
$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-heavy: 700;
// mobile sizes
$font-size-heading-xs: 1.8rem;
$font-size-heading-sm: 2rem;
$font-size-heading-md: 2.5rem;
$font-size-heading-lg: 3rem;
$font-size-heading-xl: 3.7rem;
$font-size-body-sm: 2rem;

// buttons
$button-primary-background: $brand-primary-background;
$button-primary-border-color: $brand-primary-background;
$button-primary-text-color: $white;
$button-primary-border-style: #{$border-type} #{$border-width} #{$brand-primary-background};
$button-inverse-background: $brand-inverse-background;
$button-inverse-border-color: $brand-inverse-background;
$button-inverse-text-color: $color-brand-primary;
$button-inverse-border-style: #{$border-type} #{$border-width} #{$brand-inverse-background};

// form
$input-border-radius: $border-radius-xs;
$input-border-color: $border-color;
$input-border-style: #{$border-width} #{$border-type} #{$color-brand-primary};